#root {
  width: 100%;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  width: 90%;
  height: 300px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  box-shadow: 0 0 20px black;
  .img{
    height: 250px;
    aspect-ratio: 1;
    min-width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
    transition: all 0.4s ease-in-out;
    cursor: pointer;
    position: relative;
    img{
      position: absolute;
      transition: all 0.4s ease-in-out;
      width: 150%;
    }
  }
  .img:hover{
    transform: scale(0.98);
    img{
      transform: scale(1.1);
    }
  }
  .info{
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-left: 30px;
    gap: 0;
    h1{
      margin: 0;
    }
    span{
      i{
        font-size: 40px;
        color: white;
        filter: drop-shadow(0 0 2px black);
      }
    }
  }
}
.contenedorhome{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  gap: 2%;
  padding-bottom: 30px;
}
.inicio{
  padding-bottom: 40px;
  margin-top: 40px;
}
.blog, .cv{
  width: 44%;
  height: 40vh;
  border-radius: 40px;
  box-shadow: 0 0 20px black;
  transition: all 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20PX;
  span{
    font-size: 35px;
    transition: all 0.3s ease-in-out;
  }
}
.blog{
  background-image: url(https://cdn.pixabay.com/photo/2017/02/26/20/37/china-2101308_1280.jpg);
  background-size: cover;
  background-position: center;
  color: white;
  font-weight: bold;
  text-shadow: 0 0 5px black;
}
.cv{
  background-image: url(https://cdn.pixabay.com/photo/2020/04/23/15/10/cv-5082903_1280.jpg);
  background-size: cover;
  background-position: center;
  color: white;
  font-weight: bold;
  text-shadow: 0 0 5px black;
}
.blog:hover{
  transform: scale(1.05);
  color: white;
  font-weight: bold;
  text-shadow: 0 0 15px black;
  span{
    font-size: 40px;
  }
}
.cv:hover{
  transform: scale(1.05);
  color: white;
  font-weight: bold;
  text-shadow: 0 0 15px black;
  span{
    font-size: 40px;
  }
}
.construccion{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 25px;
  filter: drop-shadow(0 0 5px orange);
  i{
    color: yellow;
    
  }
}
/*app*/
.app{
  width: 100%;
  height: auto;
}
/*ingreso*/
.enter{
  position: fixed;
  top:10px;
  right:10px
}
.modaling{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  .cardm{
    width: 100%;
    height: 100%;
    background-color: inherit;
    border-radius:30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    .pass{
      font-size: 35px;
    }
  }
  .x{
    position: absolute;
    top:10px;
    right:10px;
    font-size:20px;
  }
}
/*inicio*/
.inicio{
  padding-top: 30px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
/*HomaBlog*/
.homeBlog{
  width: 100%;
  height: 100vh;
  .btnAdmin{
    position: fixed;
    top: 30px;
    right: 30px;
    z-index: 999;
  }
  
}

.homePageBlog{
  width: 100%;
  height: 100%;

  .header{
    width: 100%;
    height: 350px;
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("/img/camera.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    .title{
      font-size: 65px;
      filter: drop-shadow(4px 4px 1px rgba(0, 0, 0, 0.4));
    }
  }
  .itemCont{
    width: 100%;
    min-height: 100vh;
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 30px;
    .titleBlog{
      font-size: 65px;
      font-weight: bold;
      font-family:monospace;
    }
    .itemsblog{
      width: 100%;
      height: auto;
      display: flex;
      flex-wrap: wrap;
      .itemBlog{
        width: 100%;
        min-height: 80px;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        text-align: center;
        
        .textBlog{
          .title{
            font-size: 45px;
            margin: 0;
            padding-top: 10px;
          }
          .description{
            font-size: 25px;
            margin: 0;
            padding-bottom: 10px;
          }
        }
        .formularioPublicacion{
          position: fixed;
          top: 0;
          background-color: rgba(0, 0, 0, 0.7);
          width: 100%;
          height: 100vh;
          display: flex;
          justify-content: center;
          align-items: center;
          form{
            height: 100%;
            width: 90%;
            padding-top: 30px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 8px;
            padding-bottom: 30px;
            input, textarea{
              font-size: 25px;
              background-color: rgba(0, 0, 0, 0.7);
              color: white;
              border: none;
              border-bottom: 1px solid rgb(255, 255, 255);
              font-weight: bold;
              border-radius: 10px;
              text-align: center ;
              padding: 10px;
            }
            .plcf::placeholder{
              color: rgba(255, 255, 255, 0.6);
            }
            .descf{
              height: 25%;
            }
            .aviso{
              font-weight: bold;
              color: rgb(255, 255, 255);
              text-shadow: 0 0 140px rgb(51, 51, 51);
            }
          }
          .btnxp{
            position: absolute;
            z-index: 999;
            top: 100px;
            right: 30px;
            box-shadow: 0 0 10px red;
          }
        }
        .publicaciones{
          width: 100%;
          padding-top: 30px;
          flex-wrap: wrap;
          gap: 30px;
          height: auto;
          display: flex;
          justify-content: center;
          align-items: center;
          padding-bottom: 30px;
        }
      }
    }
  }
}
.cardpublicacion{
  min-width: 350px;
  width: 100%;
  max-width: 404px;
  height: 366px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(165, 42, 42, 0.452);
  cursor: pointer;
  overflow: hidden;
  img{
    width: 100%;
    height: 278px;
    border-radius: 20px;
  }
  h1{
    font-size: 20px;
    width: 100%;
    padding-left: 30px;
    text-align: left;
    margin: 0;
  }
  p{
    font-size: 20px;
    width: 100%;
    padding-left: 30px;
    text-align: left;
    margin: 0;
  }
}
.adminPublicacion{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  min-height: 100vh;
  padding-top: 0;
  padding-bottom: 40px;
  margin: 0;
  .header{
    height: 350px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    .title{
      font-size: 65px;
      filter: drop-shadow(4px 4px 2px rgba(255, 255, 255, 0.4));
      position: absolute;
    }
    img{
      min-width: 100%;
      width: 150%;
    }
  }
  .contenido{
    font-size: 25px;
  }
}
/*entradas*/
.formEntrada{
  position: fixed;
  display: flex;
  flex-direction: column;
  right: 10px;
  .inputforment{
    visibility: hidden;
    height: 0;
  }

}
.btnsent{
  box-shadow: 0 0 5px greenyellow;
}
.entradavideo{
  .btnvideo{
    display: flex;
    justify-content: center;
    align-items: center;
    .bx{
      font-size: 35px;
      color: red;
    }
    a{
      color: inherit;
    }
  }
}
.modalentrada{

  border-radius: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
  position: fixed;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  select{
    font-size: 15px;
    padding: 10px;
    font-weight: bold;
    color: white;
    border-radius: 10px;
  }
  .formti{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 30px;
    gap: 10px;
    width: 90%;
    
    input{
      width: 100%;
    }
    textarea{
      width: 100%;
      min-height: 200px;
      margin-bottom: 30px;
    }
    img{
      width: 100%;
    }
  }
}
.contenedorentradas{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 98vw;
}
.entrada{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding-bottom: 30px;
  .fecha{
    width: 90%;
    display: flex;
    font-weight: bold;
  }
}
.contenedorimagenes{
  display: flex;
  justify-content: start;
  align-items: start;
  width: 90%;
  overflow-x: scroll;
  scroll-snap-align: center;
  scroll-snap-type: proximity;
  .imagen{
    min-width: 45vw;
    width: 90vw;
    height: 45vW;
    justify-content: center;
    align-items: center;
    display: flex;
    overflow: hidden;
    img{
      height: 100%;
    }
  }
}
/*AdminBlog*/
.adminblog{
  width: 100%;
  height: 100%;
  .btnHome{
    position: fixed;
    top: 30px;
    right: 30px;
    z-index: 999;
  }
  .agregarblog{
    position: fixed;
    top: 80px;
    right: 30px;
    .btnaddb{
      position: absolute;
      right: 0;
      top: 0;
    }
    .formulario{
      padding-top: 50px;
      background-color: rgba(0, 0, 0, 0.4);
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius:9px;

      form{
        display: flex;
        margin: 10px;
        flex-direction: column;
        gap: 5px;
      }
    }
  }
}

@media screen and (max-width:980px){
  .card{
    flex-direction: column;
    height: 700px;
  }
  .inicio{
    .info{
      justify-content: center;
      align-items: center;
      margin-left: 0;
    }
  }
  .contenedorhome{
    flex-direction: column;
    align-items: center;
    gap: 30px;
    .blog{
      width: 90%;
    }
    .cv{
      width: 90%;
    }
  }
}

.read-the-docs {
  color: #888;
}
.imagenprueba{
  width: 100%;
  height: 100%;
}